html {
	background: #aaa;	
	font-size: 16pt;
	font-family: arial, sans-serif;
}

#headerbannerwrapper {
	background: #aaa;
	border-bottom: #ddd 2px solid;
}

#headerbanner {
	padding: 30px 10px;
	max-width: 1000px;
	margin: 0 auto;
}

#headerbanner h1 {
	font-size: 1.4em;
	line-height: 1.5;
}


#headerwrapper {
	background: #aaa;
	border-bottom: #ddd 2px solid;
}

#header {
	padding: 10px;
	max-width: 1000px;
	margin: 0 auto;
}

#header h1 {
	display: inline;
	font-size: 1.3em;
}

#header ul.menu {
	display: inline;
}


#header ul.menu li {
	display: inline;
	font-size: 1.1em;
}

#bodywrapper {
	min-height: 300px;
	background: #ccc;
}

#body {	
	padding: 10px;
	max-width: 1000px;
	margin: 0 auto;
}

h2 {
	font-size: 1.1em;
	font-weight: bold;
	padding: 10px 0 5px 0;
}

p {
	padding: 5px 0 5px 0;
}

ul.docslist li {
}

ul.blogposts .date {
	font-size: 0.8em;
}

ul.homecontent { 
	padding: 10px 0 30px 0;
}

ul.homecontent li {
	padding: 10px 0;
	font-size: 1.2em;
}

.postdetails {
	font-size: 0.8em;
}

.postbody {
	padding: 20px 0 20px 0;
}

#footerwrapper {
	background: #aaa;
	border-top: #ddd 2px solid;
}

#footer {
	padding: 10px;
	max-width: 1000px;
	margin: 0 auto;
	font-size: 0.7em;
}
