html {
	background: #0da20d;	
	font-size: 14pt;
}

#headerbannerwrapper {
	background: #0da20d;
	border-bottom: #075007 2px solid;
}

#headerbanner {
	padding: 30px 10px;
	max-width: 1000px;
	margin: 0 auto;
	font-family: arial, sans-serif;
}

#headerbanner h1 {
	font-size: 1.6em;
	line-height: 1.5;
	font-weight: bold;
}

#headerwrapper {
	background: #0da20d;
	border-bottom: #075007 2px solid;
}

#header {
	padding: 10px;
	max-width: 1000px;
	margin: 0 auto;
	font-family: arial, sans-serif;
}

#header h1 {
	display: inline;
	font-size: 1.5em;
	font-weight: bold;
}

#header a {
	color: black;
	text-decoration: none;
}

#header a:hover {
	text-decoration: underline;
}


#header ul.menu {
	display: inline;
}


#header ul.menu li {
	display: inline;
	font-size: 1.3em;
	padding: 0px 5px;
}

#bodywrapper {
	min-height: 300px;
	background: #b7cfb7;
}

#body {	
	padding: 10px;
	max-width: 1000px;
	margin: 0 auto;
	font-family: serif;
}

#body h2 {
	font-size: 1.1em;
	font-weight: bold;
	padding: 10px 0 5px 0;
	font-family: arial, sans-serif;
}

#body h3 {
	font-size: 1.0em;
	font-weight: bold;
	padding: 10px 0 5px 0;
	font-family: arial, sans-serif;
}

#body p {
	padding: 5px 0 5px 0;
	line-height: 1.1;
}

#body a {
	color: black;
}

#body ul.normallist li, #body .postbody ul li {
	list-style-type: circle;
	margin: 4px 4px 4px 20px;
}

#body ul.docslist li {
}

#body ul.blogposts .date {
	font-size: 0.8em;
}

#body ul.homecontent { 
	padding: 10px 0 30px 0;
}

#body ul.homecontent li {
	padding: 10px 0;
	font-size: 1.2em;
}

#body ul.homecontent li a {
	color: black;
	font-style: italic;
	text-decoration: none;
}

#body ul.homecontent li a b {
	font-weight: bold;
}
#body ul.homecontent li a:hover {
	font-style: normal;
	text-decoration: underline;
}


#body ul.blogposts li a {
	color: black;
	text-decoration: none;
}
#body ul.blogposts li a:hover {
	text-decoration: underline;
}

#body .postdetails {
	font-size: 0.8em;
}

#body .postbody {
	padding: 20px 0 20px 0;
}

#footerwrapper {
	background: #0da20d;
}

#footer {
	padding: 10px;
	max-width: 1000px;
	margin: 0 auto;
	font-size: 0.7em;
	font-family: arial, sans-serif;
}

#footer a {
	color: black;
}

dl {
	padding: 20px 0;
}

dl dt {
	display: block;
	font-weight: bold;
	font-size: 0.9em;
}

dl dd {
	display: block;
	padding: 5px 5px 5px 20px;
	font-size: 0.8em;
}


table.releases th{
	border: 1px black solid;
	padding: 3px 5px;
	font-weight: bold;
}

table.releases td{
	border: 1px black dashed;
	padding: 3px 5px;
}

strong {
	font-weight: bold;
}

code {
	border: 1px solid #999;
	padding: 1px;
	background: #ddd;
}

