<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link href="{{ site.baseurl }}/static/css/main.css" rel="stylesheet" />
    <title>OpenACalendar - {{ page.title }}</title>
	<meta name="viewport" content="initial-scale=1">
  </head>

  <body>

    <div id="wrapper">
      <div id="headerwrapper"><div id="header">
          <h1><a href="{{ site.baseurl }}/">OpenACalendar</a></h1>
      </div></div>

      <div id="content">{{ content }}</div>

    </div>

    <div id="footerwrapper"><div id="footer">
			&copy; <a href="http://jmbtechnology.co.uk/">JMB Technology Limited</a> 2013-2014.
			<a href="https://twitter.com/openacalendar">Follow us on Twitter</a>
	</div></div>
  </body>
</html>
