<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link href="{{ site.baseurl }}/static/css/reset.css" rel="stylesheet" />
    <link href="{{ site.baseurl }}/static/css/main.css" rel="stylesheet" />
    <title>OpenACalendar - {{ page.title }}</title>
	<meta name="viewport" content="initial-scale=1">
  </head>

  <body>

	<div id="headerbannerwrapper">
		<div id="headerbanner">
			<h1>OpenACalendar is an Open Source collaborative group wiki calendar, with strong Open Data tools baked in.</h1>
		</div>
	</div>


	<div id="bodywrapper">
		<div id="body">
			{{ content }}
			<ul class="homecontent">
				<li><a href="https://opentechcalendar.co.uk/">As used for <b>Open Tech Calendar</b></a></li>
				<li><a href="http://ican.hasacalendar.co.uk">Let us <b>host</b> your calendar for you</a></li>
				<li><a href="http://github.com/openacalendar">Browse the latest code on <b>Github</b></a></li>
				<li><a href="http://groups.google.com/group/openacalendar">Discuss or ask questions on the <b>mailing list</b></a></li>
        <li><a href="http://jmbtechnology.co.uk/">Contact us for <b>commercial support</b></a></li>
			</ul>

		</div>
	</div>


	<div id="footerwrapper">
		<div id="footer">
			&copy; <a href="http://jmbtechnology.co.uk/">JMB Technology Limited</a> 2013-2018.
		</div>
	</div>


  </body>
</html>
